@mixin layers-center {
	display: flex;
	justify-content: center;
}

.parallax-container {
	height: 100vh !important;
	.background {
		background-color: #e9dab8;
		max-height: 710px;
		height: 100%;
		width: 100%;
	}
	.rectangle-container {
		.rectangle {
			max-width: 100%;
			height: auto;
		}
	}
	.clouds-container {
		@include layers-center;
		.clouds {
			position: absolute;
			max-width: 100%;
			height: auto;
		}
	}
	.mountain-container {
		@include layers-center;
		.mountain {
			position: absolute;
			margin-left: -5%;
			opacity: 0.29;
		}
	}
	.logo-container {
		@include layers-center;
		.logo {
			position: absolute;
			max-width: 100%;
			height: auto;
		}
	}
	.trees-container {
		@include layers-center;
		.trees {
			position: absolute;
			margin-left: 0.5%;
		}
	}
	.houses-container {
		@include layers-center;
		.houses {
			position: absolute;
			margin-left: -1%;
			max-width: 100%;
			height: auto;
		}
	}
	.birds-container {
		@include layers-center;
		.birds {
			position: absolute;
			left: 3.5%;
			max-width: 100%;
			height: auto;
		}
	}
	.people-container {
		@include layers-center;
		.people {
			position: absolute;
		}
	}
}
