$color1: #6f32f8;
$color2: #5c27fe;
$color3: #c165dd;
$color4: rgb(111, 79, 241);
$color5: rgb(33, 202, 221);
$color6: #4f4e4d;
$color7: #8c8c8c;
$color8: #5c27fe;
$color9: #c165dd;
$color10: #2414df;
$color11: #461af2;
$color12: #ff8108;

$white: #fff;

$boxshadow1: rgba(0, 0, 0, 0.13);
