@import "colors";

$card-border: 5px;
$card-padding: 20px;

.card-container {
	background-repeat: no-repeat;
	position: relative;
	background-clip: padding-box;
	border-radius: 10px;
	width: 380px - ($card-border + $card-padding);
	height: 375px - ($card-border + $card-padding);
	padding: $card-padding;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 21px $boxshadow1;
	background-size: cover;
	&:first-of-type {
		border: solid $card-border transparent;
		background-color: $white;
		&:hover::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			margin: -$card-border;
			border-radius: inherit;
			background-image: linear-gradient(to left top, $color4, $color5),
				linear-gradient(to right bottom, $color4, $color5);
		}
		h1 {
			margin: 0;
			margin-top: 20px;
		}
		p {
			margin: 0;
			margin-top: 15px;
			text-align: start;
			margin-bottom: 10px;
		}
	}
	&:nth-of-type(3) {
		text-align: center;
		&:hover {
			background-image: linear-gradient(-55deg, $color8 0%, $color9 100%);
			h1 {
				color: $white;
			}
			p {
				color: $white;
			}
			.card-image {
				path {
					fill: $white;
				}
				svg {
					transform: scale(1.25);
				}
			}
		}
		.card-image {
			path {
				fill: url(#bgGradient-1);
			}
		}
	}
	&:last-of-type {
		background-color: linear-gradient(to top, $color10 0%, $color11 100%);
		text-align: center;
		h1 {
			color: $white;
		}
		p {
			color: $white;
		}
		.card-image {
			path {
				fill: $white;
			}
		}
	}
	.card-image {
		display: flex;
		align-self: center;
		justify-content: center;
		width: 100%;
		height: auto;
		svg {
			width: 96px;
			height: 98px;
		}
	}
	h1 {
		font-size: 1.5625rem;
		font-weight: 700;
		color: $color6;
		margin: 0;
		margin-top: 30px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	p {
		color: $color7;
		font-size: 1rem;
		font-weight: 400;
		line-height: 30px;
		margin: 0;
		margin-top: 15px;
		overflow: hidden;
		word-break: break-word;
		display: block;
	}
}

@media (max-width: 500px) {
	.card-container {
		width: 280px - ($card-border + $card-padding);
		height: 328px - ($card-border + $card-padding);
		h1 {
			font-size: 0.9375rem;
		}
		p {
			font-size: 0.875rem;
		}
	}
}
